body {
  font-family: Arial, sans-serif;
  margin: 2% solid black;
  padding: 30px;
  justify-items: center;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
  background-color: aquamarine;

}
table{
  width: 100%;
  border-collapse: collapse;
  margin-right: 200pc;
}

form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  justify-items: right;
  align-items: center;
  gap: 4px;

}
#new-post-form{
  display: flex;
  flex-wrap: wrap;
  padding: 7px 0px;
}

h1{
  color:darkcyan;
  font-style: italic;
}
#post-list div {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

#post-detail {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
